<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/m3</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">1111</property>


        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- could be "create-drop", to recreate tables after each program start -->
        <!--<property name="hbm2ddl.auto">create</property>-->


        <mapping class="org.example.entities.Library"/>
        <mapping class="org.example.entities.Book"/>
        <mapping class="org.example.entities.Customer"/>


    </session-factory>
</hibernate-configuration>